{% extends 'base.html' %}

{% block content %}

<main class="container">
    <h1 class="text-center display-3 py-5">Listado de unidades de medición</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>nombre de unidad</th>
                    <th>símbolo de unidad</th>
                </tr>
            </thead>
            <tbody>
            {% for unidad in lista_unidades %}
                <tr>
                    <th><a href="{% url 'unidad_detail' unidad.id %}">{{unidad.nombre}}</a></th>
                    <th>{{unidad.simbolo}}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}



