{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="input-group">
        <input type="text" id="searchInput" class="form-control" placeholder="Buscar cadena por nombre">
        <button type="button" class="btn btn-primary buscar">Buscar</button>
    </div>
    <h1 class="text-center display-3 py-5">Listado de mediciones</h1>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>id de medición</th>
                    <th>código de cadena</th>
                    <th>parametro</th>
                    <th>punto</th>
                    <th>resultado</th>
                    <th>unidad</th>
                    <th>resultado convertido</th>
                    <th>unidad</th>
                    <th>fecha de medida</th>
                    <th>hora de medida</th>
                </tr>
            </thead>
            <tbody>
            {% for medicion in lista_mediciones %}
                <tr>
                    <td>{{medicion.id}}</td>
                    <td><a href="{% url 'medicion_detail' medicion.id %}">{{medicion.cadena_custodia.idcadena}}</a></td>
                    <td>{{medicion.parametro}}</td>
                    <td>{{medicion.cadena_custodia.punto_de_muestreo}}</td>
                    <td>{{medicion.resultado}}</td>
                    <td>{{medicion.unidad_de_medida.simbolo}}</td>
                    <td>{{medicion.resultado_conversion}}</td>
                    <td>{{medicion.unidad_de_conversion.simbolo}}</td>
                    <td>{{medicion.fechamedicion}}</td>
                    <td>{{medicion.hora}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}



