{% extends 'base.html' %}

{% block content %}

<main class="container">
    <h1 class="text-center display-3 py-5">Listado de parametros</h1>
        <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Nombre del parámetro</th>
                    <th>Símbolo del parámetro</th>
                    <th>Peso molecular (mg/l)</th>
                </tr>
            </thead>
            <tbody>
                {% for parametro in lista_parametros %}
                    <tr>
                        <th><a href="{% url 'parametro_detail' parametro.id %}">{{parametro.nombre}}</a></th>
                        <th>{{parametro.simbolo}}</th>
                        <th>{{parametro.pmolecular}}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}



