{% extends 'base.html' %}

{% block content %}

    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1 class="text-secondary">{{medicion.cadena_custodia}}</h1>
                {{error}}
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-primary">
                        Actualizar
                    </button>
                </form>
                <div class="mt-3">
                    <form action="{% url 'eliminar_medicion' medicion.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger">
                            Eliminar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>

{% endblock %}